.servicesCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  margin: 2rem 2rem;
  border-radius: 15px;
  transition: transform 0.3s;
  box-shadow: 0 4px 6px #57652a;
  /* background-color: #57652a; */
}

.serviceListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f9e9;
}

.serviceListContainer h1 {
  margin-top: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #472836;
  text-align: center;
}

.serviceList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.servicesCard h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #472836;
}
.servicesCardImg {
  width: 100%;
}

.underline {
  text-decoration: none;
  margin-bottom: 1rem;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.servicec {
  margin: 2rem 2rem;
  transition: transform 0.3s ease-in-out;
}
.servicec:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .serviceList {
    margin: 0rem 0rem;
    width: 300px;
  }
  .servicec {
    margin: 0rem 0rem;
  }
  .servicesCardImg {
    width: 80%;
  }
  .servicesCard {
    margin: 2rem 2rem;
    /* background-color: #f2e9dc; */
    color: #57652a;
    box-shadow: none;
  }
}
