.servicesCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 2rem 2rem;
  border-radius: 15px;
  transition: transform 0.3s;
  box-shadow: 0 4px 6px #db5461;
  background-color: #db5461;
}

/* .cardHover:hover {
  transform: scale(1.1);
} */
.serviceListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2e9dc;
}

.serviceListContainer h1 {
  margin-top: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #472836;
  text-align: center;
}

.serviceList {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
}

.servicesCard h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.servicesCardImg {
  width: 100%;
}

.underline {
  text-decoration: none;
  margin-bottom: 1rem;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.servicec {
  width: 30%;
  margin: 2rem 2rem;
  transition: transform 0.3s ease-in-out;
}
.servicec:hover {
  transform: scale(1.1);
}
