.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--celadon-2);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 10vh;
}

.menu-icon {
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.3s;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 15px;
}

.underline {
  text-decoration: none;
}

.menu li:hover {
  color: chartreuse;
}

/* Estilos para pantalla pequeña */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: white;
    width: 100%;
  }

  .menu.open {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
  }

  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
