.navbar {
  background-color: #e0f4d3;
  color: #315a20;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #315a20; 
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLogo {
  margin-left: 2rem;
  width: 50px;
  height: 50px;
}

.navbar__list {
  list-style: none;
  margin-right: 4rem;
  display: flex;
  flex-direction: row;
  font-family: "Secular One", sans-serif;
  font-size: larger;
}

.navbar__list-item {
  padding: 15px;
}

.navbar__link {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #315a20;
  margin: 0rem 2rem;
  transition: color 0.3s, background-color 0.3s;
  font-weight: bolder;
}

.navbar__link:hover {
  color: #458c24;
}

.navbar__menuButton {
  background-color: transparent;
  border: none;
  color: #315a20;
  font-size: 24px;
  cursor: pointer;
}

.navbar__menuButton {
  display: none;
}
.navbar__open {
  display: flex;
}

@media screen and (max-width: 768px) {
  .navbar__list {
    display: none;
  }

  .navbar__menuButton {
    display: block;
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 0%;
    background-color: #e0f4d3;
    width: 100%;
  }
  .navbar__closed {
    display: none;
  }
  .navbar__listItem {
    margin-bottom: 0.5rem;
  }
  .navbar__link {
    margin: 0rem 0rem;
  }
}
