.container {
  display: flex;
  flex-direction: column;
  background-color: #f2e9dc;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  justify-content: flex-start;
}

.container h1 {
  margin-top: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #472836;
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 2rem;
  background-color: #db5461;
  max-width: 350px;
  height: auto;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 25px;
  font-family: "Protest Strike", sans-serif;
}

.card img {
  width: fit-content;
  height: auto;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.descripcionCard {
  word-wrap: break-word;
  width: 80%;
  margin: 1rem;
  font-size: larger;
  font-family: "Josefin Sans", sans-serif;
  color: #472836;
  font-weight: bold;
}

.titulo {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  color: #472836;
}

.titulo h3 {
  margin: 1rem 0rem;
  font-size: x-large;
}

@media screen and (max-width: 768px) {
}
