.formContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.margarita {
  width: 30%;
  height: 70%;
}
.contactame {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.formularioContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 90vh;
}

form {
  display: flex;
  flex-direction: column;
}
.inputForm {
  padding: 1rem 1rem;
  width: 500px;
  margin-top: 1rem;
}
