.formContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #f2e9dc;
}

.margarita {
  width: 450px;
  height: 450px;
  border-radius: 25px;
}
.contactame {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.contactame h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #472836;
}

.formularioContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-height: 90vh;
}
.labelInput {
  margin: 1rem;
}
.labelInput Label {
  margin-top: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputField {
  padding: 1rem 1rem;
  width: 300px;
  margin-top: 1rem;
  height: 30px;
  border: 2px solid #57652a;
  background-color: #bdb7b8;
}
.textAreaField {
  height: 80px;
  border: 2px solid #57652a;
  width: 300px;
  background-color: #bdb7b8;
  padding: 1rem 1rem;
}

.buttonSubmit {
  background-color: #57652a;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: larger;
  border: 2px solid #57652a;
  border-radius: 15px;
  transition: border-color 0.3s ease-in-out;
  padding: 10px;
  margin-bottom: 2rem;
}

.buttonSubmit:hover {
  transform: scale(1.1);
}
.labelInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.error {
  color: red;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .margarita {
    display: none;
  }

  form {
    max-width: 300px;
    margin: 1rem 1rem;
  }
  .inputForm {
    padding: 1rem 1rem;
    width: 250px;
  }
  form button {
    margin-bottom: 4rem;
  }
  .contactame {
    flex-direction: column;
    margin-top: 2rem;
  }
  .formularioContainer {
    height: auto;
  }
}
