.meContainer {
  display: flex;
  flex-direction: Column;
  margin-top: 3rem;
  color: #472836;
}

.meLayout {
  display: flex;
  align-items: flex-start;
}
.welcome {
  position: initial;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f9e9;
  color: #472836;
}

.points {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}

.points h3 {
  margin-bottom: 1rem;
}

.bienvenidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 5rem;
  width: 70%;
}
.bienvenidos h1 {
  margin-top: 2rem;
}

.bienvenidos p {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .points {
    max-width: 300px;
    margin: 1rem 2rem;
  }
  .meLayout {
    flex-direction: column;
    align-items: center;
  }
  .meLayout img {
    max-width: 250px;
    max-height: 250px;
  }

  .meContainer {
    margin-top: 0rem;
  }
  .meLayout img {
    width: 90%;
  }
}
